@{
    ViewData["Title"] = "Criar Cliente";
}

<h1>Adicionar novo Cliente!</h1>

<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Nome do Cliente</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Fulano da Silva">
</div>
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Endereço de Email</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="nome@exemplo.com">
</div>
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Telefone</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="(11) 99999-9999">
</div>
<a asp-controller="Cliente" asp-action="Index" role="button" class="btn btn-success">Salvar Novo Cliente</a>